.card:hover .card-img-overlay{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.body{
    background-color: #FAF8E3;
}

#mainTitle{
    font-family:Pacifico;
    font-size:50px;
}
.bg-blue{
    background-color: #E1F1E5;
    padding: 5%;
    margin: 5%;
}

.header2{
    background-color: #F1AA86;
  width: 200px;
  height:50px;
  padding: 10px;
  margin: 20px;
}


.mustard-yellow{
    /* position: sticky; */
    background-color:#F7D74A;
}

.content{
    background-color: white;
}

.teal{
    background-color: #51A499;
}