/* Effects */

.card:hover .card-img-overlay{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Fonts & texts */

.pacifico{
    font-family:Pacifico;
    font-size:100%;
}

.text{
    font-size: small;
    text-align: center;
}

#mainTitle{
    font-size: 100px;
}

.card-title{
    font-size: medium;
}
/* Colors */
.bg-blue{
    background-color: #E1F1E5;
}

.apple-red{
    background-color: #E44A6D;
}

.peach{
    background-color: #F1AA86;
    text-align: center;
}

.soft-olive{
    background-color: #E4E7D0;
}

.seafoam{
    background-color: #AFE9C2;
}


.teal{
    background-color: #51A499;
}

.mustard-yellow{
    background-color:#F7D74A;
}

.grass-green{
    background-color: #B0DA7E;
}

.sand{
    background-color: #FAF8E3;
}

.white{
    background-color: white;
}

/* Images */

.main-image{
    margin: 0%;
    width: 50%;
}

/* Boxes */

.box{
    width: auto;
    padding: 5%;
    margin: 0%;
}

.what-we-do{
    text-align: center;
    margin: 10%;
}

.wide-margin{
    margin: 5%;
}

.tab{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0%;
    margin-right:1%;
    margin-left:1%;
    text-align: center;
    padding: 1%;
}

/* Lists */
li{
    display: inline-block;
}

/* buttons */

.btn{
    background-color: #B0DA7E;
    border-style: none;
}

.btn-primary:hover{
    background: #33a6cc;
}